{% load static %}
<!doctype html>
<html lang="es" data-bs-theme="dark">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Autenticación de usuario</title>
    <link rel="icon" href="{% static 'icons8-repositorio-azul.png' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'sign-in.css' %}">
  </head>
  <body>
   <main class="form-signin w-100 m-auto mt-5">
  <form method="post" >
    {% csrf_token %}
    <div class="d-flex justify-content-center align-items-center">
      <img class="mb-4 " src="{% static 'icons8-repositorio-azul.png' %}" alt="" width="72" height="82">
    </div>
    <h1 class="h3 mb-3 fw-normal text-center">Autenticación</h1>
    <div class="form-floating">
       {{ form.username }} 
      {{ form.username.label_tag }}
      
    </div>
    <div class="form-floating">
      {{ form.password }} 
      {{ form.password.label_tag }}
    </div>
    <div class="text-start my-3 d-flex justify-content-center align-items-center ">
      <a href="{% url 'insert-user' %}" style="text-decoration: none;">Registrese Aqui </a>
    </div>
    <button class="btn btn-primary w-100 py-2" type="submit">Aceptar</button>
  </form>
  {% if form.errors %}
  <div class="alert alert-danger" role="alert">
    <strong>Errores:</strong>
    <ul>
      {% for field, errors in form.errors.items %}
        {% for error in errors %}
          <li>{{ error|escape }}</li>
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
{% endif %}
</main>
<script src="{% static 'bootstrap.bundle.min.js' %}" ></script>
</body>
</html>
