{% extends 'Menu.html' %} {% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Cambio de contraseña</title>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
  </head>
  <body>
    {% block content %} 
    
    <main class="form-signin w-100 m-auto d-flex justify-content-center align-items-center py-4  ">
      <form method="post" >
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal text-center">Cambio de contraseña</h1>
        <div class="form-floating">
          {{form.old_password}}
          {{form.old_password.label_tag }} 
        </div>
        <div class="form-floating">
          {{form.new_password1}}
          {{form.new_password1.label_tag }} 
        </div>
        <div class="form-floating">
          {{form.new_password2}}
          {{form.new_password2.label_tag }} 
        </div>
      <button class="btn btn-primary w-100 mt-3 py-2" type="submit">Aceptar</button>
    </form>
  </main>
  <div class=" d-flex justify-content-center py-4"> 
  {% if form.errors %}
    <div class="alert alert-danger" role="alert">
      <strong>Errores:</strong>
      <ul>
        {% for field, errors in form.errors.items %} 
        {% for error in errors %}
        <li>{{ error|escape }}</li>
        {% endfor %} 
        {% endfor %}
      </ul>
    </div>
   {% endif %}
  </div>
  
    {% endblock %}
  </body>
</html>
