{% extends 'Menu.html' %}
{% load static %}

  {% block content %}
  <div class="container">
    <div class="p-5" >
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Repositorio Digital de Documentos</h1>
        <p class=" fs-4">Tenga acceso a un amplio Repositorio Digital de Documentos en formato PDF. Nuestro sitio le permite cargar, descargar, buscar y visualizar documentos en detalle con facilidad. Explore una amplia gama de documentos y encuentre la información que necesita de manera rápida y sencilla</p>
        <form method="get" action="{% url 'home' %}">
          {% csrf_token %}
          <div class="row g-3">
          <div class="col">
            <input class="form-control" type="text" name="title" placeholder="Escriba una palabra clave" required data-bs-toggle="popover" title="Escriba una palabra clave referente al documento">
          </div>
          <div class="col">
            <button class="btn btn-primary" type="submit">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
              </svg> Buscar
            </button>
          </div>
        </div>
      </form>
    </div>
    {% if documents_paginated %}
    <div class="container-fluid ">
      <h2 class="pb-2 border-bottom fw-bold ">Envíos recientes</h2>
      <div class="row mt-3 row-cols-1 row-cols-md-3 g-4">
        {% for doc in documents_paginated %}
         <div class="col">
          <div class="card " style="width: 18rem;">
            <a href="{{doc.image.url}}"><img src="{{doc.image.url}}" height="300" class="card-img-top" alt="..."></a>
            <div class="card-body ">
              <h5 class="card-title fw-bold">{{doc.title}}</h5>
              <a href="{% url 'document-detail' pk=doc.id %}" class="btn btn-primary">Detalles</a>
            </div>
          </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <nav class="mt-3" aria-label="Page navigation example">
      {% if documents_paginated.has_other_pages %}
      <ul class="pagination justify-content-center">
        {% if documents_paginated.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ documents_paginated.previous_page_number }}"><span aria-hidden="true">&laquo;</span></a></li>
          {% else %}
            <li class="page-item disabled"><span class="page-link"><span aria-hidden="true">&laquo;</span></span></li>
          {% endif %}
        {% for i in documents_paginated.paginator.page_range %}
        {% if i == documents_paginated.number %}
          <li class="page-item active" aria-current="page"><a class="page-link" href="#">{{ i }}</a></li>
        {% elif i > documents_paginated.number|add:"-3" and i < documents_paginated.number|add:"3" %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% elif i == documents_paginated.paginator.page_range.0 %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          <li class="page-item disabled"><span class="page-link">...</span></li>
        {% elif i == documents_paginated.paginator.page_range|last %}
          <li class="page-item disabled"><span class="page-link">...</span></li>
          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
          {% endfor %}
        {% if documents_paginated.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ documents_paginated.next_page_number }}"><span aria-hidden="true">&raquo;</span></a></li>
        {% else %}
          <li class="page-item disabled"><span class="page-link"><span aria-hidden="true">&raquo;</span></span></li>
        {% endif %}
      </ul>
      {% endif %}
    </nav>
   {% elif message %}
    <div class="alert alert-info d-flex justify-content-center align-items-center" role="alert">
       {{message}}
    </div>
    {% endif %}
  </div>
  
  
  {% endblock %}

    
